include mixins
extends layout

block content
  h1= title
  p Welcome to #{title}, a quarantine project for myself. The idea of SocGEN, or the Social Engineering Generator, is to randomly generate a detailed identity on a click. Using the list of most common names, combined with assorted job fields, locations, and background, it can quickly scaffold an identity on the go. 


